.container {
    border: 0;
    padding-top: 4vh;
    overflow:auto;
}


.postPhoto :hover {
    transform: scale(1.1);
}



.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fbc2eb;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1))
}

.btnFlwng {
    outline: none;

}


.imgOutline{
    max-height: 30vh !important;
    overflow: hidden;
    /* transition: transform 0.6s cubic-bezier(0.25, 0.45, 0.45, 0.95); */

}
/* Media query for smaller screens (e.g., mobile devices) */
@media (max-width: 768px) {
    .imgOutline {
        max-height: 13vh !important;
    }
}


.imgOutline :hover {
    /* transform: scale(1.5    ); */
    filter: brightness(75%);
}


  
.btn{
width: 110px;
padding: 0;
}